body {
    background-color: grey;
    color: black;
    margin: 0;

    
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0%;
    
}

.buttons {
    margin: auto;
    
}

button {
    width: 200px;
    height: 40px;
    color:black;
    background-color: lightskyblue;
    border-radius: 5px;
}